/* DASHBOARD PERSONAL Edvin Aginger */
/* Optimala versionen = då man kan droppa content vart som helst och resizea den med hjälp av grids för att bestämma exakt. */
/* Budget versionen = Rutor har en viss storlek och man kan droppa in content i de olika rutorna. */
/* Väder app https://medium.com/dailyjs/making-the-most-of-your-sphere-with-javascript-building-a-geolocation-based-weather-app-with-3df5ae1fcb27 */
html, body{
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
  margin: 0;
  background-color: #ffffff;
}


/* Färg schema
#ffffff
#0ca7d2
#0785a9
#067494
#035a73
#034d61
*/

/*
background: #00d8ff;
background: -moz-linear-gradient(-45deg, #00d8ff 0%, #0ca7d2 21%, #0ca7d2 32%, #0785a9 54%, #067494 76%, #035a73 100%);
background: -webkit-linear-gradient(-45deg, #00d8ff 0%,#0ca7d2 21%,#0ca7d2 32%,#0785a9 54%,#067494 76%,#035a73 100%);
background: linear-gradient(135deg, #00d8ff 0%,#0ca7d2 21%,#0ca7d2 32%,#0785a9 54%,#067494 76%,#035a73 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d8ff', endColorstr='#035a73',GradientType=1 );

*/

/* FONTS
font-family: 'Gugi', cursive;
font-family: 'Black Han Sans', sans-serif;
font-family 'Roboto' sans-serif;
*/

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "gridbox-1 gridbox-1 gridbox-1"
  "gridbox-1 gridbox-1 gridbox-1" /* för att "reminder" diven ska kunna sticka ner som en bar på mobilversionen */
  "gridbox-2 gridbox-2 gridbox-2"
  "gridbox-2 gridbox-2 gridbox-2"
  ;

  /* styling */
  text-align: center;
  color: #ffffff;
  background-color: #ffffff;
/*  min-height: 100%; */
  /*border: solid 4px black; */
  border-radius: 5px;
}


.gridbox-1 {
  grid-area: gridbox-1;
  background-color: #0ca7d2;
  display: grid;
  grid-template-columns: 1fr;
}

.gridbox-2 {
  grid-area: gridbox-2;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-gap: 5px;
  border-top: 15px solid #035a73;
}

/* ===== INSIDE gridbox-1 ===== */

.box1-content1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.time {
  font-size: 3.5em;
  font-family: 'Source Sans Pro', sans-serif;
}

.date {
  color: #034d61;
  font-size: 1.2em;
  margin: 0;
  text-transform: uppercase;
}

.bold { font-weight: bold;}

.box1-content1 h1 {
  font-size: 4em;
  margin: 0;
}

.box1-content1 p {
  color: #034d61;
  font-weight: bold;
  margin: 0;
}

.box1-content1 hr {
  border: solid 2px #fff;
  border-radius: 5px;
}

.box1-content2 {
  display: grid;
  grid-template: 1fr;
  background-color: #0ca7d2;
}

.reminder {
  line-height: 20px;
  max-height: 120px;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  list-style-type: none;
  font-size: 1em;
  text-align: center;
}

.time-icon-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 5px;
}

.time-icon-box a {
  color: white;
  text-decoration: none;
  transition: all 0.4s;
  margin: 0 auto;
  font-size: 1.8em;
}

.time-icon-box a:active {
  font-size: 1.6em;
}

.reminder li {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #035a73;
  box-shadow: 0px 0px 2px #034d61;
  transition: all 0.2s;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 5px;
}

.reminder p {
  text-align: left;
}

.reminder li:nth-child(odd) {
  background-color: #0785a9;
}

.reminder li:hover {
  transform: scale(1.05);
}

.reminder i {
  position: relative;
  margin-top: 20px;
}



/* ======== INSIDE gridbox-2 ======== */

.box2-content {
  display: grid;
  min-height: 240px;
  color: #fff;
}

.weather-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  background: linear-gradient(-45deg, #0ca7d2, #51d3d7, #0ca7d2, #51d3d7);
	background-size: 400% 400%;
	-webkit-animation: Gradient 8s ease infinite;
	-moz-animation: Gradient 8s ease infinite;
	animation: Gradient 8s ease infinite;
}


.weather-now {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "w-location"
  "w-icon"
  "w-temp";
  grid-gap: 15px;
}

.weather-now i {
  grid-area: w-icon;
  text-shadow: 0px 0px 12px #000;
}

.weather-now p {
  grid-area: w-location;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding-top: 5px;
}
.weather-now h2 {
  grid-area: w-temp;
  font-size: 3em;
  margin: 0;

}

.weather-day {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #035a73;
  padding: 5px;
  grid-gap: 5px;
  text-transform: capitalize;
}

/* https://codepen.io/P1N2O/pen/pyBNzX */

.w-card {
background-color: #0ca7d2;
}

.w-today {

}

.w-card i {text-shadow: 0px 0px 1px #000;}

.icon-size-small {font-size: 1.8em;}
.icon-size-medium {font-size: 2.5em;}
.icon-size-large {font-size: 4em;}

/* */



/* ==CUSTOM SCROLLBAR==  */

/* width */
::-webkit-scrollbar {
    width: 10px;
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #262626;
    border-radius: 10px;
}
/* */


/* Gradient */
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}



@media only screen and (min-width: 768px) { /* =====DESKTOP===== */

}
