/* MAIN CSS FIL FÖR */
/* UF FÖRETAG */

html, body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  /*font-family: 'Roboto', sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
  background-color: lightgrey;
  color: #262626;
}

/* ///////////////////////////////////////////////////////////////////
  ///////////     MAIN.html      ///////////////////////////////////
  /////////////////////////////////////////////////////////////////
  */

/* start main-wrapper */
.main-wrapper {
  margin: 0 auto;
  background-color: #fff;
  width: 91%;
  animation: main-width 0.5s ease forwards;
}

/* For the document-page effect */
.main-wrapper-document {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  background-color: inherit;
  margin-top: 50px;
  box-shadow: 0px 0px 32px #262626;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 2fr 0.7fr; /* tredje för whitespace; */
  padding: 0px 25px 0 25px;

}

.main-banner {
  text-align: center;
}

.main-banner img {
  width: 60%;
  height: auto;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: 0px 2px 5px #3e3e3e;
}

.main-content hr {
  width: 80%;
  border: 0;
  border-top: 1px solid #eee;
}

.main-content .main-context {
  text-align: center;
}

.main-context h1 {
  font-size: 2.2em;
}

.main-context p {
  font-size: 1em;
  width: 80%;
  margin: 0 auto;
  padding: 5px 0 5px 0;
}

.main-comment {
  opacity: 0.2;
  padding: 12px 0 12px 0;
}
/* end main-wrapper */




/* start flexslider */
.slider-div-home{
  height: auto;
  width: 100%;
  margin: 0 auto;
  padding-top: 2%;
}
/* end flexslider */



/* start .about */
.main-about {
  text-align: center;
  margin-bottom: 3%;
}

.main-about h1 {
  font-size: 3.2em;
}

.main-about p {
  font-size: 1.5em;
  width: 50%;
  margin: 0 auto;
  padding: 5px 0 5px 0;
}
/* end .about */




/* start .cards */
.main-cards {
  width: 75%;
  height: auto;
  margin: 0 auto;
  color: #262626;
  margin-bottom: 5%;
}

.cards-wrapper {
  /*
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  */
}

.card {
  float: left;
  width: 31%;
  height:auto;
  margin-left: 1%;
  margin-right: 1%;
  box-shadow: 0px 0px 5px #262626;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.card a {
  color: black;
  padding-bottom: 12px;
}

.card-content {
  padding-bottom: 12px;
}

.card-img {
  overflow: hidden;
}

/* Håll liknande storlekar på alla bilder för symmetriska boxar.
  T.ex alla har runt
  400x400 till 600x600
  eller alla har mellan
  1920x1080 till 1300x760 */
.card-img img {
  display: block;
  width: 100%;
  margin: 0 auto;
  background: #262626;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-context {
  margin: 0 auto;
  width: 90%;
  padding: 0 6px 0 12px;
  z-index: 10;
}
/* mq för .main-cards och .card-context p */
@media screen and (max-width: 1100px) {
  .main-cards {
    width: 90%;
  }
}

.card-context h2 {
  font-size: 1.2em;
}

.card-context p {
  font-size: 0.8em;
  padding-bottom: 8px;
  line-height:normal;

}
/* end .cards */




/* start .footer */
.footer {
  color: #262626;
/*  box-shadow: 0px 4px 24px #262626; */
}

.footer-wrapper {
  width: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}

.footer-social {
  text-align: center;
  font-size: 2.5em;
  padding: 25px;
}

.footer-social a {
  color: #262626;
}

.footer-social p {
  padding: 0;
  margin:0;
  font-size: 0.45em;
  font-weight: 400;
  opacity: 0.6;
}

.footer-info {
}

.footer-info h4 {
  margin-bottom: 0;
  font-size: 1.2em;
}

.footer-info p {
  margin: 0;
}

.footer-img {
  text-align: center;
  padding-top: 20px;
}

.footer img {
  width: 30%;
  height: auto;
}
/* end .footer */


/* ///////////////////////////////////////////////////////////////////
  /////////// Product-list.html ///////////////////////////////////
  /////////////////////////////////////////////////////////////////
  */

  .product-wrapper {
    margin: 0 auto;
    width: 90%;
    background-color: #fff;
    animation: product-width 0.5s ease forwards;
  }

  /* For the document-page effect */
  .product-wrapper-document {
    width: 100%;
    background-color: inherit;
    margin-top: 50px;
    box-shadow: 0px 0px 32px #262626;
    padding-bottom: 5%;
     min-height: 1000px; /* ENDAST FÖR TESTING- TA BORT */
  }

  .product-text {
    text-align: center;
    padding-top: 12px;
  }

  .product-search-filter {
    text-align: center;
    padding: 12px;
  }

  .product-content {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 24px;
  }

  .product-content a {
    box-shadow: 0px 0px 4px 2px #262626;
    border: solid 2px #e3e3e3;
    color: #262626;
    text-decoration: none;
  }

  .product-container {
  /*  box-shadow: 0px 0px 12px #262626; */
    padding: 12px 6px 12px 6px;
  }




  .product-container .product-img {
    width: 60%;
    height: auto;
    margin: 0 auto;
  /*  box-shadow: 0px 0px 5px #262626; */
  }

  .product-container img {
    width: 100%;
    height: auto;
  }

  .product-context {
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: dotted 2px red; */
  }

  .product-context h4 {
    text-transform:capitalize;
  }

  .product-context span {
    padding: 0 8px 0 8px;
    margin-left: 5px;
    font-weight: bold;
    color: #262626;
    opacity: 0.8;
    border: solid 1.5px #28b30f;
    border-radius: 2px;
  }



  /* ///////////////////////////////////////////////////////////////////
    /////////// Company-list.html ///////////////////////////////////
    /////////////////////////////////////////////////////////////////
    */

    .company-wrapper {
      margin: 0 auto;
      width: 90%;
      background-color: #fff;
      animation: company-width 0.5s ease forwards;
    }

    /* For the document-page effect */
    .company-wrapper-document {
      width: 100%;
      background-color: inherit;
      margin-top: 50px;
      box-shadow: 0px 0px 32px #262626;
      /* min-height: 1200px; */
      padding-bottom: 5%;
    }








/* start SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 30px grey;
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3e3e3e;
    opacity: 0.8;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #262626;
}


/* end SCROLLBAR */



/* start KEYFRAMES */
/*
@keyframes main-width {
  100%  {width: 90%;}
}

@keyframes product-width {
    100% {width: 96%;}
}

@keyframes company-width {
    100%  {width: 100%;}
}
*/

@keyframes bodyFadeIn {
  0%   {opacity: 0;, background-color: white;}
  100% {opacity: 1;  background-color: inherit;}
}
/* end KEYFRAMES */
