/* MAIN CSS FIL FÖR */
/* UF FÖRETAG */

html, body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  /*font-family: 'Roboto', sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
  background-color: lightgrey;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  background-color: #fff;
  min-height: 1200px;
}

/* For the document-page effect */
.wrapper-document {
  width: 100%;
  background-color: #fff;
  min-height: 1200px;
  margin-top: 50px;
  box-shadow: 0px 0px 32px #262626;
}
