/* MAIN CSS FIL FÖR */
/* UF FÖRETAG */

html, body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  /*font-family: 'Roboto', sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
  background-color: lightgrey;
  color: #262626;
}

/* start main-wrapper */
.main-wrapper {
  margin: 0 auto;
  width: 90%;
  background-color: #fff;
  border-radius: 24px;
  border-top-right-radius: 24px;
}

/* For the document-page effect */
.main-wrapper-document {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  background-color: inherit;
  margin-top: 50px;
  box-shadow: 0px 0px 32px #262626;
  border-radius: 24px;
  border-top-right-radius: 24px;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* tredje för whitespace; */
  padding: 0px 25px 0 25px;

}

.main-banner img {
  width: 100%;
  height: auto;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: 0px 2px 5px #3e3e3e;
}

.main-content hr {
  width: 80%;
  border: 0;
  border-top: 1px solid #eee;
}

.main-content .main-context {
  text-align: center;
}

.main-context h1 {
  font-size: 3.2em;
}

.main-context p {
  font-size: 1.5em;
  width: 80%;
  margin: 0 auto;
  padding: 5px 0 5px 0;
}

.main-comment {
  opacity: 0.2;
  padding: 12px 0 12px 0;
}
/* end main-wrapper */




/* start flexslider */
.slider-div-home{
  height: auto;
  width: 100%;
  margin: 0 auto;
  padding-top: 2%;
}
/* end flexslider */



/* start .about */
.main-about {
  text-align: center;
  margin-bottom: 3%;
}

.main-about h1 {
  font-size: 3.2em;
}

.main-about p {
  font-size: 1.5em;
  width: 50%;
  margin: 0 auto;
  padding: 5px 0 5px 0;
}
/* end .about */




/* start .cards */
.main-cards {
  width: 75%;
  height: auto;
  margin: 0 auto;
  color: #262626;
  margin-bottom: 5%;
}

.cards-wrapper {
  /*
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  */
}

.card {
  float: left;
  width: 31%;
  height:auto;
  margin-left: 1%;
  margin-right: 1%;
  box-shadow: 0px 0px 5px #262626;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.card-img {
  overflow: hidden;
}

/* Håll liknande storlekar på alla bilder för symmetriska boxar.
  T.ex alla har runt
  400x400 till 600x600
  eller alla har mellan
  1920x1080 till 1300x760 */
.card-img img {
  display: block;
  width: 100%;
  margin: 0 auto;
  background: #262626;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-context {
  margin: 0 auto;
  width: 90%;
  padding: 0 6px 0 12px;
  z-index: 10;
}
/* mq för .main-cards och .card-context p */
@media screen and (max-width: 1100px) {
  .main-cards {
    width: 90%;
  }
}

.card-context h2 {
  font-size: 1.5em;
}

.card-context p {
  font-size: 1em;
  padding-bottom: 8px;
  line-height:normal;

}
/* end .cards */




/* start .footer */
.footer {
  color: #262626;
/*  box-shadow: 0px 4px 24px #262626; */
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}

.footer-social {
  text-align: center;
  font-size: 2em;
  padding: 25px;
}

.footer-social a {
  color: #262626;
}

.footer-social p {
  padding: 0;
  margin:0;
  font-size: 0.45em;
  font-weight: 400;
  opacity: 0.6;
}

.footer-info {
}

.footer img {
  width: 30%;
  height: auto;
}
/* end .footer */



/* start SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 30px grey;
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3e3e3e;
    opacity: 0.8;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #262626;
}


/* end SCROLLBAR */
